h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-section {
    position: relative;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 38px;
}

@media screen and (max-width: 768px) {
    .hero-section {
        align-items: center;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-wrapper {
    height: 600px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 65px;
}

@media screen and (max-width: 768px) {
    .hero-wrapper {
        padding-left: 0;
        justify-content: center;

    }
}

@media screen and (max-width: 768px) {
    .hero-text-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.hero-text {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 116%;
    color: #2A2A2A;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .hero-text {
        font-size: 48px;
    }
}

.hero-text-wrapper {
    color: #219653;
}

.hero-subtitle {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
    width: 454px;
    margin-top: 44px;
}

@media screen and (max-width: 768px) {
    .hero-subtitle {
        font-size: 16px;
        margin-top: 35px;
    }
}

.image-wrapper {
    position: relative;
}

@media screen and (max-width: 768px) {
    .image-wrapper {
        margin-top: 44px;
    }
}

@media screen and (max-width: 768px) {  
    .hero-image {
        width: 468px;
        height: 280px;
    }
}

.img-box {
    position: absolute;
    top: -22px;
    z-index: -1;
    display: block;
    width: 653px;
    height: 439px;
    background-color: rgba(217, 217, 217, 0.64);
    border-radius: 18px;
}

@media screen and (max-width: 768px) {
    .img-box {
        top: -15px;
        width: 468px;
        height: 312px;
    }
}

.hero-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    .hero-btns-wrapper {
        margin-top: 50px;
        padding-left: 0px;
        justify-content: space-between;
    }
}

.hero-btn {
    border: 1px solid #000;
    border-radius: 12px;
    background-color: #fff;
    padding: 13px 45px;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .hero-btn {
        padding: 13px 70px;
    }
}

.primary {
    color: #fff;
    background-color: #27AE60;
    border: none;
    padding: 13px 38px;
}

@media screen and (max-width: 768px) {
    .primary {
        padding: 13px 62px;
    }
}

.hero-bcg {
    position: absolute;
    top: -40px;
}

@media screen and (max-width: 768px) {
    .hero-bcg {
        display: none;
    }
}

.hero-bcg-tablet {
    display: none;
}

@media screen and (max-width: 768px) {
    .hero-bcg-tablet {
        display: block;
        position: absolute;
        top: -70px;
        left: 78px;
    }
}